<ion-view view-title="Intro">



  <ion-content class="has-header notification" ng-init="get_notification()">	 
  		
  		<div class="list">
  			<div class="item">
  				Receive Newsletter
  			</div>
			<div class="item">
  				Receive push when somebody makes an offer
  			</div>
  			<div class="item">
  				Receive push when somebody posts a product in your location
  			</div>
  		</div>
  		
  			
  		<!--<ion-list>
  			<ion-checkbox ng-model="filter.red"> Receive Newsletter </ion-checkbox>
  			<ion-checkbox ng-model="filter.red"> Receive push when somebody 
makes an offer </ion-checkbox>
  			<ion-checkbox ng-model="filter.red"> Receive push when somebody posts a 
product in your location </ion-checkbox>
  		</ion-list>-->
  		
  		
  </ion-content>
 
</ion-view>




<style>
	
</style>