<ion-view view-title="Intro">



  <ion-content class="padding-top"style="background: #fff;" >
	
	
	<div class="row home-body-area" ng-init="style_list()">
		<div class="product_card" style="width:100%">

		
		  	<div class="item" ng-repeat="cat in style" >
		  		<div class="home_product_img" ng-click="go_search({{cat.id}},'S')">
		  			<img ng-src="{{cat.image}}" alt="" style="height: 131px;" class="ion-thumbnail" />
		  		</div>
		    	<div class="grey_home_part">
<!--		    		<p>{{cat.name}}</p>-->
					<small>{{cat.name}}</small>
					<p>{{cat.description}}</p>
		    	</div>
<!--		    	<div class="home_white_part">
		    		<div class="row" ng-click="myproduct_list_url({{cat.name}})">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="{{cat.name}}">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>{{cat.name}}</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>-->
		    	
		  	</div>
             <!-- <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h2.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div> -->
		  	
		 <!--  <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h3.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div> -->
             <!-- <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h4.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
		  	
		  	<div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h1.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
             <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h2.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div> -->
		  	
		  </div>	
	</div>
	

  </ion-content>
  <!--<div class="tabs tabs-icon-top footer-icon-bar">
		<a class="tab-item" style="color: #888888;"><i class="icon ion-android-notifications"></i> Notification</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-heart"></i> Favourite</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-ios-cart"></i> Cart</a>
	</div>-->
	 
</ion-view>




<style>
	
</style>