<ion-view view-title="Intro">


  <ion-content class="has-header edit-profile"style="background: #eeeeee;"  ng-init="userdetails()">

<!--	   <div class="item item-image edit-profile-banner">
	   	<img ng-if="!image_b" src="{{user.user_banner_image}}" alt="" style="height:171px;" />
	   	<img ng-if="image_b" ng-src="{{pathForImage4(image_b)}}" style="height:171px;">
	   	<div class="edit-profile-banner-text">
	   	<h4> {{user.name}} </h4>
	   	<p> <i class="ion-ios-location"></i> {{user.location}} </p>
	   	</div>

		<div class="plus-btn" ng-click="loadImage_b()">
			<button class="button button-small button-royal">
				<i class="ion-ios-plus-empty"></i>
			</button>
		</div>

		<div class="profile-pic">
			<div class="pro-area">
					<img ng-if="!image_p" src="{{user.user_image}}" alt="" />
					<img ng-if="image_p" ng-src="{{pathForImage3(image_p)}}">
								
			</div>
			<div class="pic-edit-area" ng-click="loadImage_p()"> <i class="ion-ios-compose-outline" ></i> </div>
			
		</div>
	   	
	   	</div>-->
		<div class="item item-image edit-profile-banner">
	   	<!--<img src="../img/edit-profile-banner.jpg" alt="" />-->
	   	<!--<div class="edit-profile-banner-text">
	   	<h4> Catherine Tresa </h4>
	   	<p> <i class="ion-ios-location"></i> Californai C.A. United State </p>
	   	</div>-->

		<!--<div class="plus-btn">
			<button class="button button-small button-royal">
				<i class="ion-ios-plus-empty"></i>
			</button>
		</div>-->

		<div class="profile-pic">
			<div class="pro-area">
			<img ng-if="!image_p" src="{{user.user_image}}" alt="" />
					<img ng-if="image_p" ng-src="{{pathForImage3(image_p)}}">					
			</div>
			<div class="pic-edit-area" ng-click="loadImage_p()"> <i class="ion-ios-compose-outline"></i> </div>
		</div>
	   	<div class="edit-profile-banner-text">
			   	<h4> {{user.name}}</h4>
			   	<p> <i class="ion-ios-location"></i> {{user.location}} </p>
		   	</div>
	   	</div>
	   <div class="list">

		  <label class="item item-input">
		    <span class="input-label"><i class="ion-android-person"></i></span>
		    <input type="text" ng-model="user.name">
		  </label>
		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-android-mail"></i> </span>
		    <input type="text" ng-model="user.username" readonly>
		  </label>
		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-android-mail"></i> </span>
		    <input type="Email" ng-model="user.email" readonly>
		  </label>
		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-iphone"></i> </span>
		    <input type="Mobile" ng-model="user.mobile_no">
		  </label>

		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-map"></i> </span>
		    <select ng-model="user.style_id">
	       <option value="">Select Style</option>
	      <option ng-repeat="cat in style" value="{{cat.id}}">{{cat.name}}</option>
	    </select>
		  </label>

		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-map"></i> </span>
		    <input type="Location" ng-model="user.location">
		  </label>

		  

		  <div class="item" style="background: transparent;">
		  	<button class="button button-block button-royal" style="background: #e55994; border: none; font-family: 'Exo 2', sans-serif; box-shadow: none; margin-top: 30px;" ng-click="update_profile(user)">Submit</button>
		  </div>
	  </div>
	   
	

  </ion-content>
 
</ion-view>




<style>
	
</style>