<ion-view view-title="Intro">


  <ion-content class="padding-top edit-profile"style="background: #eeeeee;" ng-init="userdetails123()">

	   <div class="item item-image edit-profile-banner">
	   	<img src="../img/edit-profile-banner.jpg" alt="" />
	   	<div class="edit-profile-banner-text">
	   	<h4> Catherine Tresa </h4>
	   	<p> <i class="ion-ios-location"></i> Californai C.A. United State </p>
	   	</div>

		<div class="plus-btn">
			<button class="button button-small button-royal">
				<i class="ion-ios-plus-empty"></i>
			</button>
		</div>

		<div class="profile-pic">
			<img src="../img/profile.jpg" alt="" />
		</div>
	   	
	   	</div>
		
	   <div class="list">
		  <label class="item item-input">
		    <span class="input-label"><i class="ion-android-person"></i></span>
		    <input type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-android-mail"></i> </span>
		    <input type="Email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-iphone"></i> </span>
		    <input type="Mobile">
		  </label>
		  <label class="item item-input">
		    <span class="input-label"> <i class="ion-map"></i> </span>
		    <input type="Location">
		  </label>
	  </div>
	   
	

  </ion-content>
  <!--<div class="tabs tabs-icon-top footer-icon-bar">
		<a class="tab-item" style="color: #888888;"><i class="icon ion-android-notifications"></i> Notification</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-heart"></i> Favourite</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-ios-cart"></i> Cart</a>
	</div>-->
	
</ion-view>




<style>
	
</style>