<ion-view view-title="Intro">
  <ion-content class="login-wrapper padding slide_height">
	<div class="animated slideInRight">
		<div class="login_holder">
			<img ng-src="img/login-logo.png" alt="" class="login_logo"/>
			<div class="list padding-right padding-left">
			
			
  			<div class="row responsive-sm">
  				<div class="col">
  					<div class="or" style="text-align: center;">
  						<p style="font-size: 19px;font-family: 'Exo 2', sans-serif;">Enter your email and we will send you instruction on how to reset it.</p>
  					</div>
  				</div>
			</div>
			 <!-- <p style="color:#2b2b2b; font-size:22px;font-weight:600; text-align: center; margin-bottom: 20px;">LOG IN </p>-->
	        	
<form name="FrorgetForm" ng-submit="forget_pass(email)"  novalidate> 






	<label class="item item-input-inset"  style="margin-bottom: 0;">
					<i class="icon ion-android-mail placeholder-icon"></i>
					<input type="text" placeholder="Email" ng-model="email" required>
				</label>
                    <label class="">
                       <span style="color:red" ng-show="FrorgetForm.email.$dirty && FrorgetForm.email.$invalid">
                        <span ng-show="FrorgetForm.email.$error.required">Email  is required.</span>
                        <span ng-show="FrorgetForm.email.$error.email">Invalid email address.</span>
                        </span>
                    </label>
















	        	<!-- <label class="item item-input-inset"  style="margin-bottom: 0;">
					<i class="icon ion-android-mail placeholder-icon"></i>
					<!-- <input type="text" placeholder="Email"> -->
					<!--<span style="color:red" ng-show="FrorgetForm.email.$dirty && FrorgetForm.email.$invalid">
                        <span ng-show="FrorgetForm.email.$error.required">Email is required.</span>
				</label> -->
				<p>&nbsp;</p>
				
				<button type="ng-submit" class="button button-block button-royal"   ng-disabled="FrorgetForm.$invalid || isDisabled" style="background: #e55994; border: none; font-family: 'Exo 2', sans-serif; box-shadow: none; margin-top: 30px;">Send Now</button>
	            
	            
	                </form>
				

	           
	     	</div>
         </div>
	</div>
  </ion-content>
</ion-view>