<ion-view view-title="Intro" ng-init="subcategory_list1()">

<ion-side-menus>
 <ion-side-menu-content>
<div class="row bar bar-header">
        <div class="col col-20">
            <button menu-toggle="left" ng-hide="$exposeAside.active" class="button button-icon button-clear ion-navicon"></button>
        </div>
        <div class="col col-60">
             <div class="inner_logo">
               Sub CATEGORIES
            </div>
        </div>
        <div class="col col-20">
            <button class="button button-icon button-clear">
            	<i class="ion-android-search"></i>
            </button>
        </div>
    </div>
<div class="bar bar-subheader add-header">
  <h2 class="title">{{cat_name}}</h2>
</div>
  <ion-content class="has-header category"style="background: #fff;" >	     
	  		<div class="list" ng-if="subcategory">
			    <a ng-repeat="cat in subcategory" class="item item-thumbnail-left" href="#/search/{{cat.id}}/C" style="height: 68px !important;">
			      <!-- <img ng-src="{{cat.image}}" /> -->
			      <p>{{cat.name}}</p>
			    </a>
<!--			    <a class="item item-thumbnail-left" href="#">
			      <img src="../img/apparels.png" />
			      <p>Apparels </p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			      <img src="../img/bags.png" />
			      <p>Bags </p>
			    </a>
				<a class="item item-thumbnail-left" href="#">
			      <img src="../img/shoes.png" />
			      <p>Shoes </p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			      <img src="../img/beauty.png" />
			      <p>Beauty</p>
			    </a>
			    <a class="item item-thumbnail-left" href="#">
			      <img src="../img/skincare.png" />
			      <p>Skincare </p>
			    </a>-->
		</div>
		<div class="list" ng-if="!subcategory && no_subcategoryno_subcategory">
			<span>No subcategory available</span>
			</div>
  		

	   
	

  </ion-content>
  <!--<div class="tabs tabs-icon-top footer-icon-bar">
		<a class="tab-item" style="color: #888888;"><i class="icon ion-android-notifications"></i> Notification</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-heart"></i> Favourite</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-ios-cart"></i> Cart</a>
	</div>-->
	 </ion-side-menu-content>
	  <ion-side-menu expose-aside-when="large" class="sidebar_bg">
       
        <ion-content>
          <!--<div class="item item-avatar">
	    	<img src="../img/profile.jpg">
	   	 	<h2 style="color: #fff;">Boka’s Notes</h2>
	   	 	<p style="color: #fff;">Lorem Ipsum</p>
	 	  </div>-->
          <div class="background_sidebar">
            <a class="item item-icon-right" href="#">
		    <span class="sidebar_span"><img src="../img/profile.png" /></span>
		    <span class="sidebar_word"> Profile</span>
		    <span><i style="right: 5px;font-size: 21px;color: #fff;" class="icon ion-ios-arrow-right"></i></span>
		    <img src="../img/border.png" style="width: 100%;"/>
		  </a>

		  <a class="item item-icon-right" href="#">
		    <span class="sidebar_span"><img src="../img/edit_profile.png" /></span>
		    <span class="sidebar_word"> Edit Profile</span>
		    <span><i style="right: 5px;font-size: 21px;color: #fff;" class="icon ion-ios-arrow-right"></i></span>
		  </a>

		  <a class="item item-icon-right" href="#">
		    <span class="sidebar_span"><img src="../img/notification.png" /></span>
		    <span class="sidebar_word"> Notification</span>
		    <span><i style="right: 5px;font-size: 21px;color: #fff;" class="icon ion-ios-arrow-right"></i></span>
		  </a>
		   <a class="item item-icon-right" href="#">
		    <span class="sidebar_span"><img src="../img/watchlist.png" /></span>
		    <span class="sidebar_word"> Watch list</span>
		    <span><i style="right: 5px;font-size: 21px;color: #fff;" class="icon ion-ios-arrow-right"></i></span>
		  </a>

		  <a class="item item-icon-right" href="#">
		    <span class="sidebar_span"><img src="../img/message.png" /></span>
		    <span class="sidebar_word"> Message</span>
		    <span><i style="right: 5px;font-size: 21px;color: #fff;" class="icon ion-ios-arrow-right"></i></span>
		  </a>

		 <a class="item item-icon-right" href="#">
		    <span class="sidebar_span"><img src="../img/category.png" /></span>
		    <span class="sidebar_word"> Category</span>
		    <span><i style="right: 5px;font-size: 21px;color: #fff;" class="icon ion-ios-arrow-right"></i></span>
		    
		  </a>
		  
          </div>
        </ion-content>
      </ion-side-menu>
      
    </ion-side-menus>
</ion-view>




<style>
	
</style>