<ion-view view-title="Intro">
<div class="row bar bar-header">
        <div class="col col-10">
            <i style="font-size: 33px; color:#fff;" class="ion-android-arrow-back"></i>
        </div>
        <div class="col col-60">
             <div class="inner_logo">
                WATCHLIST
            </div>
        </div>
        <div class="col col-20">
            <button class="button button-icon button-clear">
            	<i class="ion-android-search"></i>
            </button>
        </div>
    </div>
  <ion-content class="padding-top" style="background:#fff;" >
	
	<div class="row home-body-area">
		<div class="product_card">
		  	<div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h1.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	
		  	</div>
             <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h2.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
		  	
		  <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h3.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
             <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h4.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
		  	
		  	<div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h1.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
             <div class="item">
		  		<div class="home_product_img">
		  			<img src="../img/h2.png" alt="" />
		  		</div>
		    	<div class="grey_home_part">
		    		<p>Gloves Chronograph watch, Women Handwear</p>
		    		<small>From Shoes</small>
		    	</div>
		    	<div class="home_white_part">
		    		<div class="row">
		    			<div class="col-25">
		    				<div class="avatar_image">
		    					<img src="../img/icon.png">
		    				</div>
		    			</div>
		    			<div class="col-75">
		    				<div class="detail_home">
		    					<h2>Marty McFly</h2>
				                <p>Watches</p>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		  	</div>
		  	
		  </div>	
	</div>
	

  </ion-content>
  <!--<div class="tabs tabs-icon-top footer-icon-bar">
		<a class="tab-item" style="color: #888888;"><i class="icon ion-android-notifications"></i> Notification</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-heart"></i> Favourite</a>
		<a class="tab-item" style="color: #888888;"><i class="icon ion-ios-cart"></i> Cart</a>
	</div>-->
	
	
	
	<style>
		
	</style>
</ion-view>